## Adding whitespaces

In [1]:
print('python')

python

In [2]:
print('\tpython')        ##\t----->tab delimeter

	python

In [3]:
print('languages:\npython\nswift\njava\nsql\nangular')       ##\n----->new line delimeter

languages:
python
swift
java
sql
angular

In [6]:
print('languages:python,java,sql')

languages:python,java,sql

In [7]:
print('languages:\n\tpython\n\tswift\n\tjava\n\tsql\n\tangular')

languages:
	python
	swift
	java
	sql
	angular

In [1]:
fav_lang='   python'

In [2]:
print(fav_lang)

   python

In [ ]:
## stripping methods
------------------------

1.Left stripping
2.right stripping

In [14]:
print(fav_lang.lstrip())

python

In [15]:
print(fav_lang.rstrip())

  python

In [ ]:
a=3
b=6
a+b
c

In [16]:
10+40

50

In [17]:
2008456469+7352523783

9360980252

In [18]:
555-96

459

In [19]:
34*3

102

In [20]:
5**2

25

In [21]:
a=4**2

In [22]:
print(a)

16

In [23]:
y=1.2+6

In [24]:
print(y)

7.2

In [ ]:
## combination of float and int will always a float

In [25]:
x,y,z=1,23,88

In [26]:
print(x,y,z)

1 23 88

In [27]:
a=3
b=5

In [28]:
a+b

8

In [29]:
3+5

8

## Introduction to list data type

In [ ]:
list---------------------->It is a collection of items or elements

In [ ]:
## how to declare list ??

## we can declare our list in []

In [30]:
students=['jhansi','shravan','nazreen','akhil','meenakshi']
             0         1        2          3      4

In [31]:
print(students)

['jhansi', 'shravan', 'nazreen', 'akhil', 'meenakshi']

In [ ]:
## Introduction to index

In [32]:
print(students[4])

meenakshi

In [36]:
print(students[0].title())

Jhansi

In [34]:
print(students[10])

IndexError: list index out of range

In [ ]:
## buitin methods

1.Adding of elements
2.updating
3.deleting

In [ ]:
## Adding of elements

In [37]:
print(students)

['jhansi', 'shravan', 'nazreen', 'akhil', 'meenakshi']

In [ ]:
insert
append
add

In [38]:
students.append('priya')

In [39]:
print(students)

['jhansi', 'shravan', 'nazreen', 'akhil', 'meenakshi', 'priya']

In [40]:
students.insert(1,'rupesh')

In [41]:
print(students)

['jhansi', 'rupesh', 'shravan', 'nazreen', 'akhil', 'meenakshi', 'priya']

In [42]:
students.append('rupesh')

In [43]:
print(students)

['jhansi', 'rupesh', 'shravan', 'nazreen', 'akhil', 'meenakshi', 'priya', 'rupesh']

In [ ]:
## Replacing elements in list

In [ ]:
## requirement---->replace jhansi with supraja

In [44]:
students[0]='supraja'

In [45]:
print(students)

['supraja', 'rupesh', 'shravan', 'nazreen', 'akhil', 'meenakshi', 'priya', 'rupesh']

In [46]:
students[2]='prasanna'

In [47]:
print(students)

['supraja', 'rupesh', 'prasanna', 'nazreen', 'akhil', 'meenakshi', 'priya', 'rupesh']

In [ ]:
## deleting the elements in list

In [ ]:
del 
pop
remove

In [48]:
students.pop()

'rupesh'

In [49]:
students.pop(3)

'nazreen'

In [50]:
print(students)

['supraja', 'rupesh', 'prasanna', 'akhil', 'meenakshi', 'priya']

In [51]:
students.pop()

'priya'

In [52]:
print(students)

['supraja', 'rupesh', 'prasanna', 'akhil', 'meenakshi']