In [1]:
print("hii all good evening")

hii all good evening

In [ ]:
we will wait for 5min

In [ ]:
## Organizing a list

In [ ]:
## requirement------>organize a list in aplphabetical order

In [2]:
students=['ramu','shravan','nazreen','priya','meenakshi','blessy','sravani','bhargavi']

In [3]:
print(students)

['ramu', 'shravan', 'nazreen', 'priya', 'meenakshi', 'blessy', 'sravani', 'bhargavi']

In [4]:
students.sort()

In [5]:
print(students)

['bhargavi', 'blessy', 'meenakshi', 'nazreen', 'priya', 'ramu', 'shravan', 'sravani']

In [ ]:
## reverse the list

In [6]:
students.reverse()

In [7]:
print(students)

['sravani', 'shravan', 'ramu', 'priya', 'nazreen', 'meenakshi', 'blessy', 'bhargavi']

In [ ]:
## copy of list

In [8]:
my_food=['biryani','icecream','puttu','rice','carrot','choclate']
            0          1          2      3       4        5

In [9]:
print(my_food)

['biryani', 'icecream', 'puttu', 'rice', 'carrot', 'choclate']

In [10]:
friend_food=my_food[:]

In [11]:
print(friend_food)

['biryani', 'icecream', 'puttu', 'rice', 'carrot', 'choclate']

In [ ]:
## Negative index

In [ ]:
students=['ramu','shravan','nazreen','priya','meenakshi','blessy','sravani','bhargavi']
            0        1         2        3         4          5        6         7=======================>+ve index
            -8          -7         -6         -5          -4           -3         -2          -1==========>-ve index

In [12]:
print(students[-4])

nazreen

In [13]:
print(students[-1])

bhargavi

In [16]:
print(students[-6].upper())

RAMU

In [17]:
print(students[-22])

IndexError: list index out of range

In [ ]:
### slicing of list

In [ ]:
## requirement:create a team of 3 members

In [18]:
print(students)

['sravani', 'shravan', 'ramu', 'priya', 'nazreen', 'meenakshi', 'blessy', 'bhargavi']

In [20]:
print(students[0:3])

['sravani', 'shravan', 'ramu']

In [22]:
print(students[5:8])

['meenakshi', 'blessy', 'bhargavi']

In [23]:
print(students[1:4])

['shravan', 'ramu', 'priya']

In [25]:
print(students[0:5])

['sravani', 'shravan', 'ramu', 'priya', 'nazreen']

In [ ]:
## looping statements------------->for loop

In [26]:
city=['delhi','hyd','bnglr','vij','krlnr','chennai']

In [27]:
print(city)

['delhi', 'hyd', 'bnglr', 'vij', 'krlnr', 'chennai']

In [2]:
type(city)

NameError: name 'city' is not defined

In [28]:
for y in city:
    print(y)

delhi
hyd
bnglr
vij
krlnr
chennai

In [29]:
print('these are some famous city names')
for y in city:
    print(y)

these are some famous city names
delhi
hyd
bnglr
vij
krlnr
chennai

In [33]:
type(city)

list

## Introduction to tuple data type

In [ ]:
tuple------------------>it is also a collection of elements or items

In [ ]:
list                    tuple

[]                      ()
[1,'python',9.8]        (1),('python'),(9.8)

adding                   adding,deleting,updating
deleting
udating

In [30]:
s=(33,90)

In [31]:
print(s)

(33, 90)

In [32]:
type(s)

tuple

In [34]:
s=('students','ambition')

In [35]:
print(s)

('students', 'ambition')

In [36]:
type(s)

tuple

In [ ]:
** create a tuple
*** how to add elements
*** updating
** deleting
** slicing