Introduction of tuple data type

In [1]:
dimensions=(55,90,77)

In [2]:
print(dimensions)

(55, 90, 77)

In [3]:
type(dimensions)

tuple

In [ ]:
("python")  []  () {}

In [ ]:
## adding
## updating
## deleting

In [ ]:
## adding of new elements

In [4]:
dimensions[1]=100

TypeError: 'tuple' object does not support item assignment

In [5]:
dimensions=(55,90,77,100)

In [6]:
print(dimensions)

(55, 90, 77, 100)

In [8]:
print(dimensions[0])

55

In [ ]:
## updating elements

In [9]:
a=(22,67,353,3635,543)
b=(424,728,75213,935,87)

In [10]:
c=a+b

In [11]:
print(c)

(22, 67, 353, 3635, 543, 424, 728, 75213, 935, 87)

In [ ]:
x=(55,89,353,896)-------------------->tuple
v=()---------------------------------->empty tuple
c=(4)---------------------------------->it is not a tuple
c=(4,)---------------------------------->it is tuple

In [12]:
c=()

In [13]:
print(c)

()

In [14]:
type(c)

tuple

In [15]:
x=(6)

In [16]:
print(x)

6

In [17]:
type(x)

int

In [18]:
c=(9,)

In [19]:
type(c)

tuple

In [ ]:
## deleting elements in tuple

In [20]:
print(dimensions)

(55, 90, 77, 100)

In [ ]:
del pop
remove

In [21]:
del dimensions

In [22]:
print(dimensions)

NameError: name 'dimensions' is not defined

In [23]:
city=("bnglr",'chennai','ongole','kurnool')

In [24]:
print(city)

('bnglr', 'chennai', 'ongole', 'kurnool')

In [25]:
type(city)

tuple

In [26]:
combo=(8.6,9,"python","covid")

In [27]:
print(combo)

(8.6, 9, 'python', 'covid')

In [28]:
type(combo)

tuple

In [ ]:
intger
string
float
double
long int

In [ ]:
string
list
tuple
dict

In [ ]:
## slicing of tuple------->grouping

In [ ]:
[:]

In [32]:
c=(55,973,78,542,783,532,8,76,44,89,53,890,764)
    0  1   2  3   4   5   6    7  8  9  10   11   12

In [33]:
print(c)

(55, 973, 78, 542, 783, 532, 8, 76, 44, 89, 53, 890, 764)

In [34]:
c[0:3]

(55, 973, 78)

In [36]:
c[2:8]

(78, 542, 783, 532, 8, 76)

In [37]:
c[0:2]

(55, 973)

In [38]:
c[0:1]

(55,)

In [39]:
len(c)

13

In [40]:
c[ :3]

(55, 973, 78)

In [41]:
c[ :6]

(55, 973, 78, 542, 783, 532)

In [42]:
c[1: ]

(973, 78, 542, 783, 532, 8, 76, 44, 89, 53, 890, 764)

In [43]:
c[8: ]

(44, 89, 53, 890, 764)

In [44]:
c[1:5]

(973, 78, 542, 783)

In [45]:
c[0:5,4:8]

TypeError: tuple indices must be integers or slices, not tuple

In [46]:
s=(66,89,76,90)
    0  1  2  3
    -4   -3   -2    -1

In [47]:
print(s)

(66, 89, 76, 90)

In [50]:
print(s[-1])

90

In [51]:
students=['nazreen','blessy','priya','meenakshi']

In [52]:
print(students)

['nazreen', 'blessy', 'priya', 'meenakshi']

In [59]:
message=f"keep up with the good work,{students[1].upper()}"

In [60]:
print(message)

keep up with the good work,BLESSY

In [61]:
message=f"keep up with the good work,{students[0].upper()}"

In [62]:
print(message)

keep up with the good work,NAZREEN

In [1]:
l3=[99,89,73,845,937]

In [2]:
l3

[99, 89, 73, 845, 937]

In [4]:
l3=map(int,input().split(' '))

88 4747 37 35 947

In [5]:
l3

In [7]:
l3=list(map(int,input().split(' ')))

444 44 2 2 2 3 33

In [8]:
l3

[444, 44, 2, 2, 2, 3, 33]

In [ ]:
']'